{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}

{% block body %}
<div class="container">
    <h3 class="container col-sm-8 text-center alert alert-info mt-4 ">Update Password</h3>
    <div class="container col-sm-6">
    <form action="" method="post">
    {% csrf_token %}
    {% for fm in form %}
    <b class="my-1"> {{fm.label_tag}} </b>
    <p> {{fm}} </p>
    <p> {{fm.errors|striptags}} </p>
    {% endfor %}
    <input class="btn btn-success" type="submit" value="Change Password" >
    <a class="btn btn-sm btn-secondary mx-2" href="{% url 'showtodo' %}">
    <i class="fas fa-home"></i></a>
    </form>
</div>
</div>
{% endblock body %}