{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
{% include 'navbar.html' %}

<div class="container">
    <h3 class="text-center alert alert-danger mt-4">My ToDo's</h3>

 
<div class="row">
    <div class="col-sm-4">
        <h4 class="alert alert-info mt-2">Add Todo</h4>
        <form action="" method="post">
            {% csrf_token %}
            {% for fm in form %}
            <b> {{fm.label_tag}} </b>
            <p> {{fm}} </p>
            {% endfor %}
            <button  type="submit" class="btn btn-success">Add Todo</button>
        </form>
    </div>

    <div class="col-sm-8">
        <h4 class="alert alert-info mt-2">Your Todos</h4>
        {% if data %}
        {% for items in data %}
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">{{items.title}}</h5>
                <p class="card-text">{{items.description}}</p>
                <p class="card-text">{{items.date}}</p>

                <a href="{% url 'updatetodo' items.id %}" class="btn btn-sm btn-warning">
                <i class="fas fa-edit"></i>
                </a>

                <form action="{% url 'deletetodo' items.id %}" class="d-inline" method="post">
                    {% csrf_token %}
                    <button  type="submit" class="btn btn-sm btn-danger" >
                    <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
                
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h4 class="alert alert-warning mt-3">No Todos</h4>
        {% endif %}
    </div>
 </div>
    {% endblock body %}
</div>