<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href={% static 'css/bootstrapLumen.min.css' %}>

  <title>{% block title %}{% endblock title %} | ToDo's</title>
  <style>{% block style %}{% endblock style %}</style>

</head>

<body>

    {% block body %}{% endblock body %}

  <script src="https://kit.fontawesome.com/07295ea1fd.js" crossorigin="anonymous"></script>
</body>

</html>